[Unit]
Description=BBC Radio Streaming Player
Requires=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/radio/
ExecStart=/usr/bin/python3 -u radio.py
Restart=always

[Install]
WantedBy=multi-user.target

